[2017-05-20 03:33] bchavez opened #1 "Merge into Bogus"
Hi @nickdodd79 ,

I took a browse through your **AutoBogus** code. I wanted to reach out to you because I might be interested in merging your code into **Bogus** as a starting point for https://github.com/bchavez/Bogus/issues/8. Your code looks really clean. Great job btw! :+1:

I don't know how much time you have, but ...
* Would you be okay with me merging some of your code into **Bogus** main c

[2017-05-21 09:47] nickdodd79 commented on #1
Hey Brian,

Thanks for the message and feedback. It would be great to see AutoBogus merged into the Bogus codebase, but I do have some more changes to push that allow for a mocking framework to create interfaces and abstract classes (they would be null in the current changeset). My implementations support Moq, FakeItEasy and NSubstitute, and will be pushed soon.

I would certainly be interested in

[2017-05-21 19:04] bchavez commented on #1
Hey Nick,

That's really great news. I think we should give it a shot. I really look forward to getting **AutoBogus** merged in. [I just now opened](https://github.com/bchavez/Bogus/commit/1aed4b4b7bef32d7b3b44895a0d143fc2c0ca802#diff-214212f7405306f15bf503baff1c9b6dR66) up `CustomInstantiator` to be `virtual` for you. One of the benefits having **AutoBogus** merged will be access to the internals

[2017-05-22 10:49] nickdodd79 commented on #1
Hi @bchavez

Invite all received and working, and thanks for the update.

I am just in the stages of putting my lib in a NuGet package so I can reference it in some projects I have going - needed for build servers and the likes. Once I have done that I shall start moving stuff into a new branch. I'll give you a shout when I have done the initial migration.

Nick.

[2017-06-06 19:28] bchavez commented on #1
Hey @nickdodd79 ,

Just wanted to let you know I made [some progress](https://ci.appveyor.com/project/bchavez/bogus/build/301/artifacts) on this.

I created a branch [Bogus/autobogus](https://github.com/bchavez/Bogus/tree/autobogus), that contains the `FakeItEasy`, `Moq`, and `NSubstitute` projects. All are integrated with the CI build and F# FAKE scripts now. All are building fine now. Additional

[2017-06-07 19:53] nickdodd79 commented on #1
Hey @bchavez,

Glad to hear you managed to get everything in and working. The recursive generation issue has been on my list of things to do, I just haven't got to it yet (a work around is to add a rule rather than rely on the auto process).

However, having used AutoBogus in my projects I have identified some changes and improvements.

1. I use models to both return dummy data from my API and pro

[2017-06-08 07:14] bchavez commented on #1
Hey @nickdodd79 ,

No worries. :+1: It was a good exercise for me to get a feel of how your code would merge into `/master`. I'm really encouraged things should be pretty smooth.

W.R.T. Point 1, that's a wonderful insight. Thank you for sharing. I can most definitely see how maintaining two `AutoFaker` and `Faker` can be a maintenance issue.

Overall, I think the idea of 'on the fly' registration

[2017-06-12 11:23] nickdodd79 commented on #1
Hey @bchavez,

I have committed an initial version of the AutoBogus rework so it includes conventions. It is in a branch called autobogus_conventions ([a266e0a](https://github.com/bchavez/Bogus/commit/a266e0a66788bb281ac5250a6c7c76d62c63f5c5)) so as not to clash with the migration work you did.

I am in the progress of writing the necessary unit tests and sanity checking, so there could be some ch

[2017-06-16 06:27] bchavez commented on #1
Hi @nickdodd79 ,

I had a chance to review your branch today. You've done a really amazing job on everything. :+1: Honestly, you have a really elegant approach to solving the issue.

I still haven't totally understood and digested the overall architecture feel yet; so it might take me a few more days. My gut feeling so far is the core implementation looks very solid.

Here are just some of my rand

[2017-06-16 10:54] nickdodd79 commented on #1
Hey @bchavez,

Thanks for the feedback and glad you like what's there so far.

Totally understand what you are saying and you make a very valid point. I think I may have focused primarily on the conventions side of things and gone a bit tunnel visioned on the actually API to invoke them. The current implementation would mean having to potentially configure the conventions for an AutoGenerate multi

[2017-06-17 09:28] nickdodd79 commented on #1
Hey @bchavez,

Upon further reflection, I am wonder whether mimicking the behaviour of AutoFixture would be an elegant way of designing the public API. The follow shows how this would work, and how a single AutoGenerator instance governs the creation of multiple objects with a single pipeline of conventions:

[code]

It shows how a series of conventions can be defined for the generator (as well as

[2017-06-17 19:18] bchavez commented on #1
Hi @nickdodd79 ,

Thanks for all the ideas.  I'll try to give you my thoughts as best I can. I think it's great we're approaching this from the public API side now.  I think once we have the public API, the details for meeting up with the core/guts of the implementation should be okay.

:white_check_mark: I think the concept of a Global Registry for "conventions" for registering `MoqConvetion` mak

[2017-06-18 22:36] nickdodd79 commented on #1
Hi @bchavez,

Thanks for the feedback. It seems there are several ideas and avenues to consider, and I think opening it up to the community is definitely the right way to go to ensure the framework is of use to people. I shall there look to get the dialogue started in [bchavez/Bogus/issues/74](https://github.com/bchavez/Bogus/issues/74).

During my experimentation with the ```AutoGenerator``` clas

[2017-09-12 13:15] gilesrpa opened #4 "Unable to build project"
After using Bogus for a while, I was excited to see that you had created an automatic fake object creation system using Bogus.

I am using VS 2017 Prof (15.3.3) and on downloading AutoBogus I opened the project to see that the Dependency sections in all of the projects show up with a yellow triangle.

I have tried everything to remove this but to no avail.

![vs2017](https://user-images.githubuser

[2017-09-12 22:37] gilesrpa commented on #4
Fixed the problem...It appears that the Net Standard Library is NOT installed by default. Installed now OK.

[2017-09-12 22:37] #4 closed

[2018-07-29 15:19] msaadsaif5 opened #5 "[Feature Request] Rule for sub properties of class"
It is possible to define Rule or RuleForType but that only works for class being faked. What if I want to specify rule for a sub property e.g.

[code]
[code]

but what if I want to specify Rule for type Bar? something like below:

[code]

I was unable to achieve this, if it is already possible then please let me know. Thanks!

[2018-08-21 13:14] DmitryBryluk opened #6 "System.Security.VerificationException while autogenerating enums"
[code]

causes `System.Security.VerificationException: 'Method Bogus.Randomizer.Enum: type argument 'TType' violates the constraint of type parameter 'T'.'`

[2018-09-07 01:24] icnocop opened #7 "System.MissingMethodException: Method not found: 'System.DateTime Bogus.DataSets.Date.Recent(Int32)'. when trying to use the latest versions of AutoBogus and Bogus"
Hi.

Thank you for AutoBogus.

When I try to use AutoBogus v2.1.2 with Bogus v23.0.3, and my object contains a `DateTime` property, I get the following runtime exception:

[code]

This is probably because the `Date.Recent` method in Bogus v22.3.1 was changed.
See https://github.com/bchavez/Bogus/commit/dcfda64d7eb19a58fbdea48a6091761be351deb3#diff-f396bceb2fb63a74d5716b1d2405070fR168

Thank you.

[2018-09-24 23:54] nickdodd79 commented on #6
Hey @DmitryBryluk

Apologies for not responding early - didn't see this issue come in. I take a look and get a fix out.

Nick.

[2018-09-24 23:56] nickdodd79 commented on #7
Hey @icnocop

I'll take a look and as you said, it is probably a packages update that is needed.

Watch this space.

Nick.

[2018-10-05 06:55] #7 closed

[2018-10-05 10:10] nickdodd79 commented on #6
Hi @DmitryBryluk

I finally managed to find some time to upgrade the various packages used by AutoBogus. Your issue should now be fixed in the new 2.2.0 version.

Nick,

[2018-10-08 17:29] #6 closed

[2019-01-23 01:53] berwyn opened #9 "`AutoFaker<T>.Generate(null)` Fails on Ubuntu"
I have a [project](berwyn/heroku-dotnet) that I'm building and I'm using Bogus + AutoBogus in my test suites. I personally develop on macOS and Windows and haven't experienced the issue on either, but when I use Ubuntu on Azure Pipelines, calling `AutoFaker<T>.Generate(null)` (or `Generate()` for that matter, they amount to the same), `Generate()` throws:
[code]

If, instead, I use `Generate("defa

[2019-01-23 08:34] nickdodd79 commented on #9
Hey @berwyn

Thanks for the message. I'll take a look and see if I can work out whats going on.

Nick.

[2019-02-01 09:21] nickdodd79 commented on #9
Hey @berwyn

I've spent the last few days looking into the issue you presented. Unfortunately, I don't have any provisions to get a Linux environment setup at this moment in time. Instead, I have tried and tested all variations I could think of that would lead to the issue via Visual Studio (Windows).

However.....nothing.....everything is working as expected.

I also took a look at the Bogus libr

[2019-02-01 13:56] berwyn commented on #9
Just in case you have any future Linux-related issues, I'm just using Docker and the official .NET images to replicate this.

Anyway, that's a very good point. I'll double-check it, but I recall having the same issue running single tests. Let me verify that!

[2019-02-01 21:51] bchavez commented on #9
Hey there,

I was able to reproduce the issue on Ubuntu 16.04 even at the latest commit:
[code]

[code]

As @nickdodd79 mentioned, the issue is likely the parallelism with **xunit**.

Multi-threaded concurrent access to a global global static `Faker<T>` in [MockApp.cs](https://github.com/berwyn/heroku-dotnet/pull/3/files#diff-b045928223f1be212ad94fcee296eb76R9) is likely the cause of the issue. As

[2019-02-01 22:37] nickdodd79 commented on #9
Hey @berwyn

The expert insights provided by @bchavez above, I think, has pinpointed where your issue lies. I hadn't noticed that the `Faker` was being defined statically. In unit tests, shared context between each test can lead to anomalies and unexpected behaviours.

From the options above, I would also go for `2` as it means each test is isolated and run from a baseline.

Also, thanks for clari

[2019-02-04 23:06] dotnetchris opened #10 "Race condition in EnumerableGenerator / GenerateForever"
Not really sure what triggers this. I even have some heavy handed locking in my code to try to avoid this, but it still pops up from time to time.

[code]

[2019-02-04 23:09] dotnetchris commented on #10
For clarity on some usage:

[code]

This would throw tons prior to adding the lock.

[2019-02-04 23:47] bchavez commented on #10
Also, Nick, I'm not totally familiar with AutoBogus' code, but also maybe check if all the generated keys are unique (or if one already exists)?

https://github.com/nickdodd79/AutoBogus/blob/f9ff2a6ae4a436cf5caeef7c758bb6c8ef19bc29/src/AutoBogus/Generators/DictionaryGenerator.cs#L13

[2019-02-05 14:42] berwyn commented on #9
Thanks for that excellent breakdown @bchavez, this is my first foray into xunit and I hadn't even thought about the concurrent access! Clearly this is a problem with my use of AutoBogus and not the library itself, so I'll go ahead and close the issue.

Thanks both for taking the time to help out!

[2019-02-05 14:42] #9 closed

[2019-02-05 16:35] dotnetchris commented on #10
If you make separate instances you lose the unique indexes between instances and you'll get index 0 or 1 across many things.

A static ctor is absolutely a billion percent thread safe. It is fundamentally impossible for 2 threads to ever enter a static ctor.

Can't you just change the dictionary usage to a concurrent dictionary?

[2019-02-05 16:36] dotnetchris commented on #10
Yes the issue seems to pop up when 2 threads in tight execution both 'randomly' select a dictionary word.

[2019-02-05 18:16] nickdodd79 commented on #10
Hey @dotnetchris

As you and @bchavez have pointed out, I think a change is needed in the `DictionaryGenerator` to ensure the keys are unique. I will get a change in place and published shortly.

Watch this space.

Nick.

[2019-02-05 18:56] bchavez commented on #10
Hi Chris,

Ah, yes, you're right, static methods are thread-safe. Sorry about that misunderstanding. At first, I was thinking of [this post](http://csharpindepth.com/Articles/General/Singleton.aspx) w.r.t. to singletons but I realize now it's unrelated here.

The dictionaries are mostly used to keep track of rule actions. I don't think it makes much sense for Bogus to use a concurrent dictionary b

[2019-02-06 19:22] dotnetchris commented on #10
But there's no concurrent mutation of rule sets, it's a static immutable ruleset that under multi-threaded consumption tears, for some reason.

I completely get that there shouldn't be any effort to support concurrent mutation of rulesets. That's bad manners.

But why shouldn't 1 rule set not be able to be used by multiple threads? That seems very expected.

Especially in regards to the concept of

[2019-02-10 10:42] nickdodd79 commented on #10
Hi @dotnetchris

I have just release v2.2.1 of AutoBogus, which ensures dictionary keys are unique. Give it a go and check it no longer throws.

Thanks
Nick.

[2019-03-01 01:53] kentcb opened #11 "Cannot control TypeProperties even with a custom binder"
I was trying to figure out why AutoBogus was doing nothing with the `RepeatedField<T>` type (a protobuf type). I created my own binder to try and take control of the situation, but it never even called `GetMembers`.

Digging into the code a bit, I found that [this line](https://github.com/nickdodd79/AutoBogus/blob/master/src/AutoBogus/AutoFaker%5BT%5D.cs#L45) does not pass the provided binder onto

[2019-03-01 02:51] kentcb commented on #11
Actually, digging further into this, it seems the library doesn't cater for get-only properties at all. Even if I override `GetMembers` to include my repeated field properties, the current designs I want to _create_ a new `RepeatedField<T>` instance rather then just read the one that's already there (and add values to it).

Moreover, the entire `AutoGeneratorFactory` infrastructure is internal, ma

[2019-03-01 06:39] bchavez commented on #11
Hi Kent,

Following the thread from [twitter](https://twitter.com/kent_boogaart/status/1101361305796009984). Could you post an example model and/or object graph of what you're trying to create with `RepeatedField<T>`? I'm having a little trouble synthesizing the problem and object models you're looking to create. Also, I'm sorry, I don't have much experience with protobuf.

From best I can discern

[2019-03-01 07:23] kentcb commented on #11
Hi @bchavez.

When you define a proto with a repeated field like this:

[code]

It generates code along these lines:

[code]

Typically you have a _lot_ of these fields, so manually specifying rules for each one is not an option. Instead, I'd need an interception point provided by the framework that allows me to identify any get-only property of type `RepeatedField<T>` and provide population logic

[2019-03-01 18:15] #10 closed

[2019-03-03 09:28] nickdodd79 commented on #11
Hey @kentcb

Thanks for your message. I have considered extending the `AutoGeneratorFactory` to allow for custom value generation, I just didn't have a use case. It looks like you might be needing that use case, so I will see what I can do.

@bchavez thanks for your input again, much appreciated and always welcomed 👍

Nick.

[2019-03-11 03:03] jjroth opened #12 "AutoBogus taking too long to generate data"
I've come across a performance issue when using AutoFaker to generate test objects for use in unit tests.

I've been able to create a super simplified example of my domain model to demonstrate two things.

1. AutoFaker generates way too many levels of data when it shouldn't be generating data for levels beyond a reasonable level of nesting. Ideally the nesting level should be configurable..but at

[2019-03-15 03:19] nickdodd79 commented on #12
Hi @jjroth

Apologies for the delayed response. What version of `AutoBogus` are you using? As of version 2.0.0, support for recursive generation has been in place and limited to 2 levels (not currently configurable).

I have just added some more unit tests to verify this behaviour based on the following scenarios:

- A child of the same parent type
- A list of children of the same parent type
- A

[2019-03-15 03:30] nickdodd79 commented on #11
Hi @kentcb

I finally found some time to look into addressing your use case. I have made some code changes that allow you to register an override for a type generator (included the built in generators).

In the case of your example above you would implement the following:

[code]

That should provide an entry point for customizing the generation of a given type. Does that work for you? If so, I wi

[2019-03-15 03:36] jjroth commented on #12
Hi @nickdodd79,

No problem on the delay in responding. I totally understand.

I am using Autobogus 2.2.1. And yeah, I did see the documentation about it stopping at two levels...but it doesn't seem to be fully working as you can see from my test above.

Regarding performance, on my machine it tends to make each test take about 1 second each....which really adds up after hundreds of tests. What I

[2019-03-15 04:00] nickdodd79 commented on #12
Hey @jjroth

I will invest some more time trying to replicate your setup. My tests showed it was working as expected so there must be some factor not being considered by them.

As for the performance, I shall also attempt to run testing on some larger data sets to see where the impact and bottlenecks are.

Nick.

[2019-03-15 04:36] kentcb commented on #11
Hi @nickdodd79. Thanks for doing this and for getting back to me.

First, I should tell you that I had to move on to another solution (I went with AutoFixture because I could get it to work the way I wanted, albeit a bit cumbersome). So it's not really practical for me to try this out any more.

However, I would say this looks along the lines of what I was trying for. But I wouldn't want to have t

[2019-03-15 04:45] nickdodd79 commented on #11
Hi @kentcb

Thanks for the feedback. Yes, that would make total sense in terms of verbosity of setting up a generic type. I see what rework I can put in place to address it.

Thanks again.
Nick.

[2019-03-15 04:51] nickdodd79 commented on #11
Out of curiosity, can you post a code sample of how you achieved your requirement. Thanks.

[2019-03-15 05:00] kentcb commented on #11
Sure, it looks like the below. Notice that it's a more generalized solution to work with any get-only collection property. It's possible this could be simplified, but I'm not sure how. See [this discussion on the AutoFixture repo](https://github.com/AutoFixture/AutoFixture/issues/341) for even more context.

[code]

It's registered like this:

[code]

[2019-03-15 05:12] nickdodd79 commented on #11
Awesome. Thanks.

[2019-03-21 21:06] McPhale opened #14 "Best way to generate a list of strings with applied rules?"
There's probably something pretty basic I'm missing here, apologies in advance :)

Let's say I want to generate a list of 10 strings formatted as email addresses. Is there an optimum way of doing this?

[code]

[2019-03-23 08:55] nickdodd79 commented on #14
Hi @McPhale

Currently, the way you are doing it is the way I suggest. I am however working on some enhancements that will allow you apply these rules more generically either in your own `IAutoBinder` instance or via a new `Override` mechanism I am adding. This will essentially allow you to intercept the generate process for a given type or name (e.g. reflected property name) and provide the value

[2019-03-23 18:41] bchavez commented on #14
Hey friends,

I'm not sure if this helps, but don't forget you can generate an email list like this too:

(using latest Bogus v26.0.2)
[code]
and if determinism isn't important, you can reduce it even more:
[code]
![LINQPad_2855](https://user-images.githubusercontent.com/478118/54869971-757e0080-4d5d-11e9-82d8-7bc4b4da0bc8.png)

BTW, keep up the amazing work you're doing here Nick! I'm always exci

[2019-04-05 13:57] afranioce commented on #12
I have same issue, the entities have a multiple dependencies and circular dependencies, consume 100% CPU.

Demonstrating entities:

[code]

[2019-04-05 23:12] nickdodd79 commented on #12
Hey @afranioce

Thanks for providing another instance of this. I think the amount of reflection going on is quite intense when generating EF entities. I have a plan to introduce a type cache so reflected info doesn't get loaded multiple times.

At the moment I am in the process of adding some generator override mechanisms which I plan on releasing soon. Once that is done, I will be looking at how

[2019-04-06 00:25] bchavez commented on #12
Hey Nick,

I don't know if this helps, but I received a PR for some performance improvements to Bogus that had some reflection improvements. These might be the same caching mechanisms you're thinking about, so I'm not sure how helpful they are:

https://github.com/bchavez/Bogus/pull/170

Also, there was a small bug in the original PR, so something to watch out for. Here's the proper fix for the bu

[2019-04-07 08:35] nickdodd79 commented on #12
Thanks @bchavez. I will take a look.

[2019-04-29 07:50] Nokecy opened #16 "AutoFaker not have Configure method version 2.2.1"

[2019-04-29 08:00] nickdodd79 commented on #16
Hi @Nokecy,

Yes sorry, I have a slight issue with the new override functionality and some other commitments have prevented me from resolving it. I am going to take a look at this now and hopefully have a 2.3 version out shortly.

Nick.

[2019-04-29 10:17] nickdodd79 commented on #16
I have just released v2.3 with all the new feature included. Closing this issue.

[2019-04-29 10:17] #16 closed

[2019-04-29 10:20] nickdodd79 commented on #11
Hey @kentcb

If you are ever interested in using AutoBogus again, I have just released v2.3 which includes the ability to define generator overrides. An example of how to applies these to generics can be found in the `Playground` project.

I'll close this issue now.

Nick.

[2019-04-29 10:20] #11 closed

[2019-04-29 13:37] cryptic224 opened #17 "How to exclude navigation properties in generating of enties"
How do I generate objects leaving out their navigation properties or properties that point to other objects? I tried configuring with builder.RecursiveDepth(0) but that did not work. Is it anything along those lines or any other way to configure that?

[2019-04-29 15:32] plaisted opened #18 "Generation of properties with custom get / set"
Properties with custom getters and setters appear to be ignored. Is this intentional? Is there a way to force these to be faked?

[2019-04-29 19:20] nickdodd79 commented on #17
Hi @cryptic224

At the moment AutoBogus executes on the basis that all properties need to be populated. I can certainly look to add a configuration setting that allows properties to be set as ignored.

In the meantime, a workaround would be:

[code]

Any properties with a `RuleFor` setup are ignore by `AutoBogus` on the assumption that these will be assigned to manually rather than auto generated.

[2019-04-29 19:21] nickdodd79 commented on #18
Hi @plaisted

Ignoring properties with valid setters is not intentional. Can you provide an example of where this is happening and I will investigate.

Nick.

[2019-04-29 21:17] plaisted commented on #18
I created a minimal example to show the error but it populated correctly. I'll dig into the project that I had problems with and reopen if I can narrow the problems down to something with AutoBogus.

[2019-04-29 21:17] #18 closed

[2019-04-29 21:42] plaisted commented on #18
Okay, this turned out to be something due to AutoBogus populating a protected field and wiping out the internal state of the object.

@nickdodd79 , is there a way to have it ignore a field/property? I tried .RuleFor() but couldn't find a way to just get it to do nothing to a particular field.

[2019-04-29 22:03] nickdodd79 commented on #18
Hey @plaisted

Current AutoBogus executes on the basis that all properties are to be populated. The `RuleFor` approach is the workaround at the moment.

Another issue (#17) was raised not long before yours which also asked for a setting to ignore properties. I will start looking at including this and let you know when it is ready. I will also post all updates in the other issue thread.

Thanks.
Ni

[2019-04-30 11:50] cryptic224 commented on #17
Alright @nickdodd79 , thank you!

[2019-05-08 20:31] gatkin commented on #17
If the navigation property is a collection, I found I needed to use `CustomInstantiator` to make data geneartion work, e.g.

[code]

[2019-05-29 23:37] lucasteles opened #19 "How to retrieve a mock from binder?"
We can use binders for Moq, FakeItEasy, etc to generate dependencies which are interfaces or abstract classes,  but I don't find a way to get this mock back to setup it. That's is a way to do it?

[2019-06-08 09:37] nickdodd79 commented on #19
Hi @lucasteles,

Unfortunately, the mocks generated by AutoBogus are not exposed to the consuming code. Instead you would need to set up a `RuleFor` and provide the mock yourself.

You can do this at the higher configuration level using the recently released `Override` feature:

[code]

Check out the documentation in the read me and let me know if you need any more help.

Nick.

[2019-06-08 11:51] nickdodd79 commented on #17
Hi,

I have just released v2.4.0 that now contains a `WithSkip()` configuration handler. It accepts an expression to a type member that should be skipped during a generate request. I think we should be able to elaborate on this further to allow specific object paths (as a string) to be skipped.

Nick.

[2019-06-13 01:25] lucasteles commented on #19
@nickdodd79 Thanks,
that's works, but I can't figure out the utility of the mock framework binders if I cant setup or verify then

I made it works using automocker container with a custom binder, but I wanted to make all this generator work with just Autobogus

Maybe I'm wanting more then what the lib proposes

[2019-06-13 23:25] nickdodd79 commented on #19
Hey @lucasteles

You should be able to do all the generation using AutoBogus by using the override config. Here is a slightly more elaborate example using Moq that shows the setup and verification.

[code]

[2019-06-14 20:14] bchavez commented on #1
Just closing to keep your issue tracker clean. https://github.com/bchavez/Bogus/issues/74#issuecomment-502246410 The TLDR: merging can always be an option if or when the time is right.

[2019-06-14 20:14] #1 closed

[2019-08-27 23:21] nickdodd79 commented on #19
Closing as this seems to be resolved.

[2019-08-27 23:21] #19 closed

[2019-08-27 23:22] nickdodd79 commented on #17
Closing as this seems to be resolved.

[2019-08-27 23:22] #17 closed

[2019-09-04 21:49] SuricateCan opened #21 "Cannot Ignore Protected Property"
First of all, great lib and great work!

The issue I'm having is as described. I cannot opt to ignore a property if that property is protected. In fact, I cannot do anything to a hidden property.
The method ```.Ignore()``` (and all others) only allows for an expression to be passed in.
That makes it dificult to handle hidden members.

My suggestion is that these methods have an overload with a ```

[2019-09-05 21:50] nickdodd79 commented on #21
Hey @SuricateCan,

I have been meaning to add a string version of the `Ignore` capability, so I will see what I can do.

In terms of the `RuleFor` request, that is something the Bogus library would need to add. AutoBogus inherits that functionality via the `Faker` class. @bchavez do you have any comments around adding the above or may be it can already be done?

Nick.

[2019-09-05 22:23] SuricateCan commented on #21
@nickdodd79 Now that I think about it, it really seems to be an issue/implementation for the Bogus library.

Let's see what @bchavez thinks about it.
If that's the case, I can open this issue there.

PS.: I'm not stucked because of this issue. It's more a QoL change, at least for me right now, so, no hurries guys!

[2019-09-06 17:16] bchavez commented on #21
Hey friends,

Apologies for the late reply. I don't see any immediate blocking issue to allow property or field as strings. Essentially, all `.RuleFor(x => prop, f => f...)` methods end up calling `.RuleFor("prop", f => f...)` as shown here:

https://github.com/bchavez/Bogus/blob/cc7feabc8aad91604433723eb5f0590e4fe384ea/Source/Bogus/Faker%5BT%5D.cs#L211-L225

The `.RuleFor("prop", f => f...)` meth

[2019-09-06 18:39] SuricateCan commented on #21
Hey @bchavez,
Thanks for joining the thread.
Perhaps I should've thought a little bit more about it before opening an issue in this repository.
However, here are my thoughts about your considerations:

Yes, it is a bit toilsome but gets the job done. My problem with it is that it forces me into a path of _advanced_ scenario when, in reality, all I want to do is a simple rule. Which brings me to yo

[2019-09-06 18:39] #21 closed

[2019-09-10 23:13] nickdodd79 commented on #21
Hey @SuricateCan and @bchavez,

I have just pushed v2.7.0 which upgrades to the latest version of Bogus and adds a string version of the skip config:

`.WithSkip<Person>("Age");`

Nick.

[2019-09-10 23:25] bchavez commented on #21
Great work Nick! Thanks for keeping **AutoBogus** up to date! Also, thanks again for your help! If you need anything else, please don't hesitate to let me know. :+1:

[2019-09-10 23:40] SuricateCan commented on #21
Great work! I think this is a nice addition to the lib. Thanks for your quick response.

[2019-09-11 13:09] rccampbe opened #22 "gRPC RepeatedFields cause AmbiguousMatchException"
Because RepeatedField<Type> classes have 2 Add methods (taking a Type and an IEnumerable<Type>), the new GetAddMethod doesn't know which to use and throws an AmbiguousMatchException.

[2019-09-11 13:36] rccampbe commented on #22
Fix proposed in pull request #23

[2019-09-11 19:04] nickdodd79 commented on #22
Awesome. Thanks for your quick work. I'll get a new version out ASAP.

[2019-09-11 22:18] nickdodd79 commented on #22
Hey @rccampbe

Unfortunately locating the `Add()` method based on an `ICollection` arg type broken a load of tests. I have instead made it locate the method using the generic types. I have also added a test using a `RepeatedField<int>` and everything passes as expected.

Can you get v2.7.1 and check it still works your end?

Thanks,
Nick.

[2019-09-12 01:51] rccampbe commented on #22
I'm curious how it was working for the few tests I ran, but, regardless,
using the generic type is the better way to go. I'll rerun my test cases in
the morning and let you know.

On Wed, Sep 11, 2019, 6:18 PM Nick Dodd <notifications@github.com> wrote:

[2019-09-24 20:06] akamud opened #24 "Can't have a Bogus FinishWith configured"
Since Bogus allows only a single `FinishWith` method, the way AutoBogus works its magic makes it impossible for someone to configure a FinishWith for a Type like this:

[code]

This is common in a scenario where a property doesn't have a setter and has to be configured through methods. So something like this:

[code]

From what I looked at the code, the culprit is [this](https://github.com/nickdod

[2019-09-25 01:31] nickdodd79 commented on #24
Hey @akamud

Yes, the `FinishWith()` handler is hijacked to populate the empty properties once the Faker `Generate()` method has done it's thing. I think there are a couple of options to explore:

1. AutoBogus doesn't hijack the `FinishWith()` and instead invokes the finishing logic separately after the internal `Generate()` is called. I would also remove the use of `CreateActions()` and invoke th

[2019-09-26 17:07] j-fritsch opened #25 "Object of type 'System.Collections.Generic.List`1[System.String]' cannot be converted to type 'System.Collections.Generic.ISet`1[System.String]'."
Starting in v2.7.0, I'm getting a list conversion error when setting an `ISet` property with a `HashSet` populated via an `IList` within a rule. This is not happening in v2.6.0.

[code]
[code]

The generation throws the conversion error.
[code]

[2019-09-26 20:09] nickdodd79 commented on #25
Hi.

The fact that the property is writable should mean you shouldn't go down that generation path. I will take a look and push out a fix.

Nick.

[2019-09-26 20:42] j-fritsch commented on #25
Thanks, Nick!

[2019-09-26 22:29] nickdodd79 commented on #25
Hey @j-fritsch

I have made a change and pushed v2.7.2. It now generates `ISet` types through a dedicated generator.

In theory you should have not been seeing that error as you have provided a `RuleFor()` for that property. My investigation has showed that the generation process could be optimized, so this is a great catch.

Thanks.
Nick.

[2019-09-26 22:33] nickdodd79 commented on #24
@akamud

I have decided to go with option 1 as some code review has shown room for improvement in that area. I will get on this ASAP and let you know when a new version is available.

Nick.

[2019-09-26 23:47] bchavez commented on #24
Hey @nickdodd79 @akamud,

I really apologize for the delay. I've been busy preparing for job interviews at a few places. Also been thinking a lot about moving Bogus to the .NET Foundation as part of their new Project Maturity Model announced early this week at .NET Conf; mostly as a move to gain more users and as a way of establishing confidence for bigger businesses. @nickdodd79 , if you'd like t

[2019-09-27 15:09] j-fritsch commented on #25
Glad to hear it! Thank you for the quick response, I appreciate it!

[2019-09-27 19:30] j-fritsch commented on #25
@nickdodd79, looks like `IReadOnlyDictionary` types aren't working on v2.7.2. Appears to have stopped working as of v2.7.0 as well.
[code]
[code]
I'm getting this exception:
[code]

[2019-09-29 22:21] nickdodd79 commented on #25
Hey @j-fritsch

You have become the unofficial QA for the project 😄

I will take a look and get fix out. Also thinking I'm gonna add some more tests around all the different collection types, as they have their own paths through the generation process and need to the sanity checking.

Nick.

[2019-09-29 22:25] nickdodd79 commented on #24
Hey @bchavez

Thanks for your input. Having reviewed the AutoBogus code, I have decided the best path is to not use the Bogus handlers and invoke any finalize actions separately. There are some use cases, where this approach would be better and also simplifies the changes needed.

Thanks for the invite to join the project - I will fire over an email.

Nick.

[2019-09-30 13:29] j-fritsch commented on #25
😛

Thanks, @nickdodd79! I just happened to be updating the dependencies in the project I am working on. Glad I can help.

[2019-10-01 22:41] nickdodd79 commented on #25
Hey @j-fritsch

I just pushed v2.7.3 which adds a new generator for the `IReadOnlyDictionary` type.

Nick.

[2019-10-02 15:29] j-fritsch commented on #25
All my tests are passing again. Thanks again, @nickdodd79, I appreciate the quick responses!

[2019-10-02 15:29] #25 closed

[2019-11-28 00:57] excelthoughts commented on #12
I'm having the same issue. Using EF .NET Core 2.2, which produced all the POCOs (around 40 table which have a fair few one-to-many relationships). The Generate() never actually returns and uses a fair bit of CPU.
Is there a way to perhaps convert the reflection that is happening into actual Bogus c# code that the Generate is trying to run?

[2019-12-04 21:54] nycdotnet opened #26 "ImmutableDictionary regression in 2.7"
Hello,

In 2.7, AutoBogus throws an exception when using `AutoFaker.Generate<T>()` with classes that expose an `ImmutableDictionary<T,U>` as a public property.  In 2.6, such classes used to be able to generate without having to skip these properties - they would just be `null`.

This also seems to happen with `ReadOnlyDictionary<T,U>`, which is a regression - in 2.6, a ReadOnlyDictionary would wor

[2019-12-04 23:19] nickdodd79 commented on #26
Hi @nycdotnet

Thanks for the details above. I am surprised you are seeing an issue with `ReadOnlyDictionary`. That type should be handled, so I will need to investigate further.

With the `ImmutableDictionary` that could possibly be a special case that doesn't follow the supported collection interfaces. Again, I will need to investigate to see why.

Watch this space :smile:

Nick.

[2019-12-05 02:16] musicm122 commented on #12
Also, having this issue with .net core 2.2 and the following deps.
Also tried with .net core 3.0.

- "AutoBogus" Version="2.7.3"
- "FluentAssertions" Version="5.9.0"
- "Microsoft.NET.Test.Sdk" Version="16.4.0"
- "Moq" Version="4.13.1"
- "xunit" Version="2.4.1"
- "xunit.runner.visualstudio" Version="2.4.1">

[2019-12-06 10:48] DaRochaRomain commented on #12
I have the same issue too, trying to fake EF Core data. But in fact, I do think the Generate will return something. It just takes a huge amount of time to generate data.

[2019-12-23 18:12] nycdotnet commented on #26
Hi @nickdodd79 - this is still an issue for us.  Did you like the behavior of how ReadOnlyDictionary was faked in 2.6?  If so, I can take a crack at restoring that and making it work with ImmutableDictionary and friends.

[2019-12-23 22:00] nickdodd79 commented on #26
Hey @nycdotnet

Apologies for not getting a fix in place. There have been several events, commitments and deadlines I have had that have stolen my time. I have some spare time over the next few weeks, so I am hoping to resolve this for you.

Thanks for your patience.
Nick.

[2019-12-23 22:04] nickdodd79 commented on #24
Hey @akamud

Apologies for the delay in getting a fix out for this. There have been several events, commitments and deadlines I have had that have stolen my time. I was hoping to have a new v3 out that made changes around the `FinishWith`, but finding enough time to make traction on it has been hard. I have some spare time over the next few weeks, so I am hoping to update v2 to as a quick fix.

Th

[2019-12-23 22:07] nickdodd79 commented on #12
Hey all,

Apologies for my delayed response. I have looked into this several time, but haven't got far with it. I have some spare time over the next few weeks so plan on dedicating some effort to it. I suspect it something related specifically to EF and have some theories around why it is slow. Just need to do some exploration.

Thanks for your patience.
Nick.

[2019-12-23 22:28] nycdotnet commented on #26
No worries at all.  I totally understand.  We have reverted back to 2.6 on all our projects for now, and it’s meeting our needs very well.  Thanks again for this great library.  Happy Holidays.

[2019-12-24 00:15] kevin-david commented on #26
Just wanted to point out that this same regression exists with `IReadOnlyDictionary<T,U>` members as well. Hopefully, the fix is the same, if not very similar.

[2020-01-02 02:00] nickdodd79 commented on #26
Hey @kevin-david

I have now got `IReadOnlyDictionary<T,U>` working again. Turns out some of my tests weren't executing which would have highlighted the issue. A new version will be available shortly.

Hey @nycdotnet

I can't get `ImmutableDictionary` to work as expected because the AutoBogus code runs on .NET Standard, but `ImmutableDictionary` seems to only be available in .NET Core.

https://do

[2020-01-02 16:02] nycdotnet commented on #26
@nickdodd79 it works in 2.6 precisely because this version does not attempt to populate them.  We slap another abstraction on top of AutoBogus where we generate a bogus object and then add the immutable properties ourselves after.

You're correct about the immutable factories, but one of the refinements in recent versions is the extension methods in `System.Collections.Immutable` on the cousin mut

[2020-01-02 16:05] nycdotnet commented on #26
Just to say out loud, I was thinking about this problem the other day - and I was expecting this to actually be a problem.  To add to the issue, there are even multiple versions of the immutable libraries and they're continuing to refine them.  I was actually wondering if there might be some sort of way to use reflection to call this stuff without requiring a reference.  Given that immutable colle

[2020-01-04 03:25] nickdodd79 commented on #26
OK. In that case I think I have a quick fix for 2.7 where we can wrap the binding operations in the `try..catch`. That will prevent the error from occurring, but will mean the `ImmutableDictionary` property has a value of `null`.

[2020-01-06 16:24] nycdotnet commented on #26
@nickdodd79 that would be fine and would make the fixed 2.7 have the same behavior as 2.6 does for immutables.

[2020-01-15 22:59] nickdodd79 commented on #26
Hey all,

I have now released v2.7.4 which should address this issue.

Nick.

[2020-01-24 12:46] cviktor opened #27 "AutoFaker does not pass custom Binder to Bogus.Binder"
I am trying to create a custom Binder to handle private setters in base classes, but AutoFaker class does not pass the binder argument to the base class. I think the problem is in the following line:

https://github.com/nickdodd79/AutoBogus/blob/master/src/AutoBogus/AutoFaker%5BT%5D.cs#L48
It should pass the custom binder as an argument because the Binder base class uses it in the constructor.

[2020-01-25 00:54] nickdodd79 commented on #27
Hey @cviktor

It does get a little bit complicated than passing the binder via the constructor because the binder can be overridden by the config setup. I will do some investigations into the impact of passing to the underlying Bogus `Faker` and see whether other changes are needed as well.

Nick.

[2020-01-27 08:42] cviktor commented on #27
Hey @nickdodd79

Thanks! I think the important part is that it seems like an inconsistent behavior for me because the base class and the derived AutoFaker will basically use a different Binder so it can cause some strange results, which is not logical for me, given that the `Bogus.Faker` is prepared to use a custom binder.

(by the way awesome lib, big thanks, we are ramping up our testing efforts

[2020-01-27 08:51] nickdodd79 commented on #26
Hey @nycdotnet

Just wanted to follow up and see how the new version is going? Can this issue be closed?

Nick.

[2020-01-27 12:30] nycdotnet commented on #26
we can close and will reopen if not.  Thank you!!

[2020-01-27 12:30] #26 closed

[2020-01-29 12:16] metareven commented on #24
Have you had any progress with this? Just refactored an entire project to use FinishWith to make some things smoother just to find out that this functionality is not supported with autobogus. Would be nice to know if I could keep my branch for later or if I should just go back to not using FinishWIth

[2020-01-29 20:57] nickdodd79 commented on #27
Hey @cviktor

I have made the changes to pass the `AutoBinder` instance to the underlying `Faker`. It didn't seem to have any adverse impact, so I have just release it as part of v2.8.

Nick.

[2020-01-29 20:59] nickdodd79 commented on #24
Hey @metareven

Thanks for reminding me of this one. I had made the changes a while ago, just hadn't release it.

This capability has now been included in v2.8.

Nick.

[2020-01-31 09:24] cviktor commented on #27
Works perfectly thanks for the fast response.
It helps me to create a custom binder to work with with properties in the base classes that has private setters, so I can create rules for them. (If someone needs this info in the future)

[2020-01-31 09:24] #27 closed

[2020-02-26 20:25] petermcneely opened #28 "Google.Protobuf.WellknownTypes.Value regression in ^2.7.4"
In both versions 2.7.4 and 2.8.0, there is a regression on generating `Google.Protobuf.WellknownTypes.Value` instances; this used to work as late as version 2.7.3. Using Google.Protobuf 3.11.4, I am able to reproduce the issue with the below console app. Generating throws an `AmbiguousMatchException`.

[code]

[2020-02-26 20:42] nickdodd79 commented on #28
Hey @petermcneely

Must be as a result of some dictionary generator changes. I will take a look and get a fix in place.

Nick.

[2020-02-26 20:59] petermcneely commented on #28
Hi @nickdodd79 ,

Thanks for the response. I've narrowed it down to being an issue generating the generic `MapField<T, K>` type.

[2020-02-26 22:57] petermcneely commented on #28
I modified a few things to get this to work: https://github.com/nickdodd79/AutoBogus/pull/29

[2020-02-26 23:23] nickdodd79 commented on #28
Awesome @petermcneely. Thanks for your contribution. I will verify the changes against my QA process and merge it all good :+1:

[2020-03-17 02:01] Goxiaoy commented on #5
You can use `WithOverride` to create custom Override

[code]
[code]

[2020-03-18 00:52] nickdodd79 commented on #28
@petermcneely apologies for the delay. I thought I had published a new version with your changes, but today realized that I hadn't. I have just published v2.8.1.

[2020-03-23 14:12] nycdotnet commented on #28
Thank you @nickdodd79 we will try it out presently!

[2020-04-15 05:35] srihere17 commented on #12
Hi Nick, Any luck with this issue? I'm facing the same problem when generating fake objects.

[2020-04-17 14:41] lucasteles opened #32 "Way to set constructor paramaters when inherit AutoFaker<T>"
Could have a way to set constructor parameters when we inherit from AutoFaker<T> ?

Something like

[code]

Also have cases when i configure all my props with RuleFor and i dont need to generate values in constructor, so a way to set in AutoBogus to just use default values in constructor would be nice, something like:

[code]

Maybe a config to set it globally, so when i need a more complex constr

[2020-04-18 00:48] #28 closed

[2020-04-18 00:49] #24 closed

[2020-04-18 00:53] nickdodd79 commented on #12
Hey @srihere17

I have attempted to look into and resolve this several times, but haven't got far with the reproduction. I suspect there is something in the EF setup that is making `AutoBogus` do something it shouldn't.

As another use case to pin it down, could you post what your code looks like here. I can then run over the framework to see if it highlights anything.

Thanks,
Nick.

[2020-04-29 16:53] metareven opened #33 "WithOverride does not seem to work"
Hi!

I am trying to use overrides to generate data, but when I log the contents of context.Instance inside my Generate function, and what is actually returned from faker.generate() it is 2 completely different things.

I have a bunch of classes who inherit from a metadata class and I wanted to use overrides to automatically set the fields contained in the metadata class whenever one of its subclas

[2020-05-08 12:08] Eric-Bonneau opened #34 "License missing from AutoBogus package in NuGet"
Hi,

We're using [Black Duck](https://www.blackducksoftware.com/) to monitor our packages, and we're receiving some warnings for [the AutoBogus package](https://www.nuget.org/packages/AutoBogus/2.8.1?_src=template) regarding a missing license. I believe this is due to the fact that we're not able to see the license in NuGet. I know that you've included the MIT license in your GitHub repository alo

[2020-05-08 21:36] nickdodd79 commented on #34
Hey @Eric-Bonneau

Sure, I can get the license file included in the package. I'll let you know when it is done.

Nick.

[2020-05-08 21:38] nickdodd79 commented on #33
Hey @metareven

I will need to investigate why you are see what you describe. Watch this space and I will let you know what I find and when a fix is in place.

Nick.

[2020-05-08 21:50] nickdodd79 commented on #32
Hey @lucasteles

Apologies for the delayed response. The Bogus library already provides this capability. There is a `CustomInstantiator` method that is inherited by `AutoFaker` classes just like the `RuleFor` methods.

Here is an example showing a default constructor and one that takes argments.

[code]

Nick.

[2020-05-09 12:52] Eric-Bonneau commented on #34
Perfect, thanks @nickdodd79 !

[2020-05-21 07:14] wxtsxt opened #35 "Property value is filed with random data even when RuleFor is defined"
I have a class that has a LocalDate? field (NodaTime library).
[code]
does not generate anything.

LocalDate field is populated with random data first and throws an exception.
But when I use Faker<MyClass> instead of AutoFaker<MyClass> everything is OK and I get a proper generated class.

To illustrate run 2 tests below. Both should succeed.
[code]

[2020-05-22 21:31] nickdodd79 commented on #35
Hey @wxtsxt

This is a great find, thanks. Turns out the RuleFor definitions weren't being skipped during the creation of an object. All good now and will be released shortly in the next version.

Nick.

[2020-05-22 21:48] nickdodd79 commented on #35
@wxtsxt, version 2.8.2 has been released.

[2020-05-22 21:53] nickdodd79 commented on #34
@Eric-Bonneau

I have just released v2.8.2 which should hopefully include the license file for you.

Nick.

[2020-05-22 21:54] nickdodd79 commented on #33
Hey @metareven

I have just put a fix in for another issue and think it may have indirectly fixed what you detail above. Can you try v2.8.2 and verify it works for you. If not, I will continue investigating.

Thanks,
Nick.

[2020-05-22 21:55] #32 closed

[2020-05-25 12:23] Eric-Bonneau commented on #34
Hi @nickdodd79

I'm able to see the license now.

I will close this as it should resolve our issue.

Thanks again!

[2020-05-25 12:23] #34 closed

[2020-05-26 11:37] wxtsxt commented on #35
Works on my side. Thanks.

[2020-05-26 11:37] #35 closed

[2020-05-27 09:43] zacateras commented on #12
I encountered similar problem while using AutoBogus with autogenerated POCOs. The problem seemed to be complexity of NavigationProperty reference tree, which seemed to be surprisingly wide with just 2 levels of depth for my database model.  It was fixed by adjusting AutoFaker configuration (recourse level: down to 0-1 / number of elements for collections).

[2020-06-04 16:27] joelmeaders commented on #12
I do believe the issue has to do with Navigation properties and my POCOs/Entities were not autogenerated. Probably similar to a JSON circular reference issue. If there was a way we could set AutoBogus to ignore virtual properties (or set a default of null to all virtual properties) that might resolve the issue. Here's a class for an example of one of my entities.

[code]

[2020-06-17 16:35] oca159 opened #36 "AutoBogus does not have a strong name assembly"
I am trying to use AutoBogus in a  . Net Core 2.2 app but it throws an error saying :

error CS8002: Referenced assembly 'AutoBogus, Version=2.8.2.0, Culture=neutral, PublicKeyToken=null' does not have a strong name.

For some reasons that are out of my control, I need all assemblies to be signed, can someone please confirm if this would be added in the near future?

[2020-06-17 22:14] sdbrannum opened #37 "System.InvalidOperationException when class inherits from Dictionary"
It seems AutoBogus throws an exception when trying to generate a class that inherits from a typed Dictionary.  Should this work or will I need to use the `AutoGeneratorOverride`?

## Reproduction

[code]

## Stack Trace:
[code]

[2020-06-21 01:36] weitzhandler opened #38 "Question: Setup rules by type?"
Hi and thanks for this wonderful library!

- Is there a way to set up a faker with value-rule/skipping per property type?
- What is populated in all collection properties? Is there a way to tell the faker how many objects to be generated in all collections?

[2020-06-23 23:46] #33 closed

[2020-06-23 23:47] nickdodd79 commented on #36
Hey @oca159,

I can add some strong naming to the next version. I will let you know when it is done.

Nick.

[2020-06-23 23:49] nickdodd79 commented on #37
Hey @sdbrannum,

I have taken a look at this and it seems that inheriting from `Dictionary` is making AutoBogus attempt to populate all the inherited properties as well, but can't resolve some of the types. I have put a fix in place which I am testing and will let you know when the new version is published.

Nick.

[2020-06-23 23:53] nickdodd79 commented on #38
Hey @weitzhandler

If I understand your request, there is a `WithSkip` config handler, but this is tied to members and not types. However you could look at the `WithOverride` handler to provide something more generic and type based.

With regards to the number of objects to be generated for all collections, there is a `WithRepeatCount` handler which specifies the number of items in a collection.

[2020-06-24 04:14] weitzhandler commented on #38
Thank you. A `WithSkip<Type>(Type type)` would be awesome.
I can PR if needed.

[2020-06-25 18:14] sdbrannum commented on #37
@nickdodd79 it looks like 2.9.0 resolved this issue.  I appreciate the package and the quick turnaround!

[2020-06-25 18:14] #37 closed

[2020-07-03 01:55] #36 closed

[2020-07-08 21:52] nickdodd79 commented on #38
Hey @weitzhandler

Just an update that I have something in place for this, just running it through some tests. I'll let you know when it is released.

Nick.

[2020-07-08 21:54] weitzhandler commented on #38
Thanks for your input.

[2020-07-08 21:59] weitzhandler commented on #38
Don't forget to include `Closes #38` in your post.

[2020-07-16 19:53] SuricateCan opened #40 "Keywork IN on constructors throws"
Hi, I just noticed this error and could not find a reference anywhere:

[code]

After some digging, I realized that the error was actually caused by one of my constructor arguments: `MyClass(in long p)`. As soon as I removed the `in` keyword (`MyClass(long p)`), the error disappeared.

So, for those fortunate enough to find this thread, the simple solution is to remove the `in` keyword.

However I

[2020-07-21 19:12] DaRochaRomain commented on #12
Should be rather easy to reproduce. I just had a large number of class referencing themselves, with a large amount of properties and possible circular dependencies.

[2020-07-27 10:38] nickdodd79 commented on #40
Hey @SuricateCan

I have added your suggested code change and believe v2.10.0 should now work for you.

Nick.

[2020-07-27 10:43] nickdodd79 commented on #38
Hey @weitzhandler

Apologies for the delay. I finally found some time to get a fix in place for another issue I wanted to release. You should find your requested `WithSkip` methods in v2.10.0.

An example usage is:

[code]

All properties and constructor parameters of type `TypeToSkip` and `AnotherTypeToSkip` will be skipped during the auto generate.

[2020-07-27 10:59] weitzhandler commented on #38
Wow, nice!

[2020-07-27 10:59] #38 closed

[2020-07-27 12:38] SuricateCan commented on #40
Hi @nickdodd79.
I've testes 2.10.0 and it work as expected.
Thanks a lot!

[2020-07-27 12:38] #40 closed

[2020-07-28 01:23] nycdotnet commented on #28
Wanted to say thanks - this is working for us now.  Sorry for the long delay.  We really appreciate this library and your efforts a lot.

[2020-08-06 21:42] tristangreeno opened #41 "System.InvalidOperationException When Using Override"
I'm experiencing the following exception when using AutoFaker.Configure for global configuration (AutoFaker\<T\> does not allow configurations for some reason). I am calling AutoFaker.Configure for each test because it's in the Setup method, and it seems that this will randomly cause issues. There doesn't seem to be a consistent way to reproduce this, but it happens every other run.

[code]

[2020-08-21 04:40] nickdodd79 commented on #41
Hi @tristangreeno

I suspect your issue is because your tests are being executed in parallel and so one test is overridding the config for another test whilst it is in flight. The static `Configure` method is aimed at setting the config once as opposed to for every test.

One approach to ensure your configuration is consistent for each test is to create an instance of the `AutoFaker` class, config

[2020-08-27 08:26] Ma3yTa opened #42 "[Question] Is it possible to fill properties for dynamic object or for runtime type"
For example:

[code]

[2020-08-27 09:11] Ma3yTa commented on #42
my solution. I believe the is a better way
[code]

[2020-09-04 16:11] jeremyhayes opened #43 "Convention to generate based on Data Annotations"
Could we leverage the Conventions support to inspect properties annotated with subclasses of `ValidationAttribute`?
* https://docs.microsoft.com/en-us/dotnet/api/system.componentmodel.dataannotations.validationattribute

This would provide a low-config way to generate instances which satisfy declarative model validations. A common pattern I see and use is to generate a random (valid) instance, the

[2020-09-05 00:56] nickdodd79 commented on #43
Hey @jeremyhayes

Interesting concept. I will see what I can cook up.

Nick.

[2020-09-05 01:07] nickdodd79 commented on #41
Hey @tristangreeno

Just an update that I have been busy these last few weeks. Hoping to add the configuration builder to the Generate method this week.

Nick.

[2020-09-05 01:11] nickdodd79 commented on #42
Hey @Ma3yTa

In your example, the compiler will create read only properties on your dynamic object. So based on this, you will not be able to fill a dynamic object. If you were to set your code up like the below (or similar), it will work, but I have identified a change that is required.

[code]

I will get the changes in place and a new version published shortly.

[2020-09-15 14:59] JerryNixon opened #44 "Sample using AutoBogus.Moq"
Hey, just looking around for a sample using AutoBogus.Moq? Just need to get started.

[2020-09-16 08:49] nickdodd79 commented on #44
Hey @JerryNixon

You can use Moq to create mock instances of dependency types. This is achieved by using the configuration handlers (at the global, faker or generate level) to register the Moq binder.

[code]

Hope that helps.

Nick.

[2020-09-16 12:18] nickdodd79 commented on #42
Hey @Ma3yTa

I have released v2.11.0 which allows dynamic/ExpandoObject instances to be populated. This also includes nested dynamic/ExpandoObject properties.

Nick.

[2020-09-16 12:19] Ma3yTa commented on #42
@nickdodd79 thank you!

[2020-09-16 12:21] nickdodd79 commented on #41
Hey @tristangreeno

I have released v2.11.0 which now provides a `Configure()` method on the `AutoFaker<TType>` class.

[code]

Nick.

[2020-09-16 23:01] tristangreeno commented on #41
Thanks Nick. I really appreciate the fast response.

[2020-09-23 03:43] spring1975 opened #45 "Unable to override structs"
I'm actually trying to create bogus data for classes that have NodaType properties.  For example.
[code]

Here's the setup:
[code]
And the override
[code]

Running all of this produces an error as though AutoBogus is trying to create the struct LocalDate with random numbers instead of using the override.
[code]

Is there a different way to override structs?

[2020-09-23 03:48] spring1975 commented on #45
Of course, I was not expecting this line to really do anything, `date = LocalDate.FromDateTime(context.Faker.Date.Future());`
But I just put it in there to illustrate how I'd set the struct.

[2020-09-23 03:56] nickdodd79 commented on #45
Hey @spring1975

You will need to reassign the new value back to the `Instance` property.

[code]

Nick.

[2020-09-23 04:41] rspringAltsrc commented on #45
I'm pretty sure that was actually my first try, but I'll give it a go again tomorrow and let you know

[2020-09-23 13:45] spring1975 commented on #45
OK, here's something a little more straightforward as a test
[code]
I can put a break point on the return true to see it find the right type. However, a breakpoint on where it should be trying to set the context.Instance is never reached. Instead, I get the ArgumentOutOfRangeException with other faked int values.

[2020-09-23 18:25] spring1975 commented on #45
I have found for objects with properties being a NodaTime type, I can do a WithSkip of said property. Then the override works as expected as do the RuleFor definitions.

[2020-09-23 23:26] flakey-bit opened #46 "DateTimeOffset population does not respect seed"
Population of `DateTimeOffset` properties does not respect the seed.

Failing test case:

[code]

[code]

[code]

[2020-10-02 09:30] frankhaugen opened #47 "[Bug/Question] Large XML-mapping object times out"
I have an object/model/class that is generated with XSD from the UBL xsd for Invoice 2.1, (the generated file is 54'000 -ish lines, (or 1'200 individual classes after ReSharper have done it's magic).

I want to fake the object dynamically, because I don't want to do it manually, but my tests just times out, (using XUnit). If I use just the Faker from bogus it takes no time, but then it's basically

[2020-10-12 08:55] i2van opened #48 "Disable value types default value generation"
In some cases non `default(T)` value should always be generated for value type, e.g. `bool` should always be `true` or value should not be binary `0` in general. It may be useful  for verifying manual/auto object mappings for example.

Looks like there is no way to configure that globally.

[2020-10-12 09:20] i2van opened #49 "Generate random number of elements for each collection individually"
There is no way to specify random number of elements for each collection individually, by default collections of 3 elements are generated.

One can change it using:

[code]

It means that all collections will have the same number of elements anyway.

It would be good to have somethig like:

[code]

In this case each new collection will have random number of elements.

[2020-10-12 11:25] i2van opened #50 "IPAddress default generation fails"
Error message: Specified argument was out of the range of valid values. (Parameter 'newAddress')

Looks like it calls `IPAddress(long)` constructor.

[code]

Is there some kind of global callback to return generated `IPAddress`? I'm not interested in particular object/property (`RuleFor`), I'd like to generate fake `IPAddress` for all properties in hierarchy.

Note: IPAddress is a part of immutabl

[2020-10-13 05:25] yaniv120892 commented on #50
You can inherent AutoBinder, override CreateInstance method and define your implementation for specific object

[code]

[2020-10-13 07:26] i2van commented on #49
Use the following to control generation:

[code]

[2020-10-13 07:26] i2van commented on #48
Use the following to control generation:

[code]

[2020-10-14 19:23] i2van commented on #48
Workaround: `builder.WithOverride(...);`

[2020-10-16 13:20] zejji opened #51 "Autobogus does not respect calls to Randomizer.Seed or UseSeed"
Unit and integration tests should generally be deterministic (unless one is specifically trying to implement randomized tests).

The base Bogus library provides for this as described [here](https://github.com/bchavez/Bogus#determinism), namely either by:
- setting the `Randomizer.Seed` global static property; or
- calling the `Faker<T>.UseSeed(int)` method.

However, Autobogus does not appear to r

[2020-10-16 18:23] zejji commented on #51
I note there is another open issue [here](https://github.com/nickdodd79/AutoBogus/issues/46) which is also related to the question of deterministic data, but I think that issue is just one facet of the general issue described above.

[2020-10-18 22:12] #41 closed

[2020-10-18 22:12] #42 closed

[2020-10-18 22:13] #44 closed

[2020-10-18 22:17] nickdodd79 commented on #45
Hey @spring1975

Thanks for the updates, sounds like you found a workaround for your issue. I do however, find it strange that the override works with a WithSkip set. I am gonna look more into based on your test example.

Thanks,
Nick.

[2020-10-18 22:21] nickdodd79 commented on #46
Hey @flakey-bit

Under the hood, the auto generate handlers create a new instances of the Bogus `Faker`, which is why the seed is being lost. I will look at hooking the `UseSeed` on the `AutoFaker` up so it propagates to the underling faker instance. In the meantime, a `UseFakerHub` configuration handler was added a few months back that allows you to create and provide your own faker instance. Thi

[2020-10-18 22:24] nickdodd79 commented on #47
Hi @frankhaugen

Unfortunately AutoBogus does have some performance issues when working with large and certain recursive object graphs. It is mainly due to the reflection involved in generating instance. I have been working on some caching strategies to speed things up, but it is still a WIP and due to other commitments, finding a lengthy amount of time to work on it is difficult.

I will continue

[2020-10-18 22:26] nickdodd79 commented on #48
Hey @i2van

Yes, you can use the `WithOverride` handler to implement how you want values to be generated if the auto generator is not valid for your use case.

Nick.

[2020-10-18 22:26] #48 closed

[2020-10-18 22:27] nickdodd79 commented on #49
Hey @i2van

This sounds like a great addition to the configurability of AutoBogus, I will get it implemented and a new version pushed.

Thanks,
Nick.

[2020-10-18 22:28] nickdodd79 commented on #51
Hey @zejji

I have updated the issue you reference in you comment. Currently the `UseSeed` is not hooked up to the underlying `Faker` used by the `AutoFaker` class. I will get a change in place to make that so and let you know when it has been released.

Nick.

[2020-10-19 05:16] frankhaugen commented on #47
@nickdodd79 okay, thanks for the explanation :-)

[2020-10-19 05:41] zejji commented on #51
@nickdodd79 - Thanks, that will be a massive help!

[2020-10-19 09:42] i2van commented on #50
@nickdodd79 I think it should be addressed by AutoBogus despite there is a workaround.

[2020-10-28 16:51] logiclrd commented on #51
It is also possible to create your own `Faker` object and assign it as the `FakerHub` for an `AutoFaker`. This allows the same `Faker` to be shared by multiple different instances of `AutoFaker`. See the `.WithFakerHub` method on `IAutoConfigBuilder`.

[2020-10-30 14:03] zejji commented on #51
@logiclrd - Unless I've understood correctly, isn't `WithFakerHub` a global configuration setting? What if you need multiple different `Faker` configurations (e.g. with different rules) and still need to call `UseSeed` on each `Autofaker`?

[2020-11-01 10:24] logiclrd commented on #51
Whether it's global or not depends on how you're obtaining `AutoFaker` and/or `AutoFaker<T>` instances. It's not inherently global.

* `AutoFaker.Create` takes a callback parameter to which it passes an `IAutoGenerateConfigBuilder`. Every time you call `AutoFaker.Create`, it'll create a new, independent `AutoFaker` object that can be configured however you want.

* `AutoFaker<T>` has a fluent meth

[2020-11-03 03:50] nickdodd79 commented on #45
Hey @spring1975

I have just released v2.12.0 which I hope addresses your issues.

Nick.

[2020-11-03 03:51] nickdodd79 commented on #49
Hey @i2van

I have just released v2.12.0 which includes the above.

Nick.

[2020-11-03 03:52] nickdodd79 commented on #50
Hey @i2van

I have just released v2.12.0 which includes a generator for IPAddress.

Nick.

[2020-11-03 04:08] nickdodd79 commented on #46
Hey @flakey-bit

I had a further look into this and all seeding is proxied through to the underlying Bogus.Faker instance. If a seed is not used then all the dates generated are random. However with a seed each faker instance generates a date based on the DateTime.Now, so there are some slight variations (milliseconds) but still based on the provided seed.

I couldn't see any changes that were nee

[2020-11-03 04:17] nickdodd79 commented on #51
Hey @zejji

Following on from the example above from @logiclrd, I have not been able to replicate the issue you describe. The configured seed is proxied through to the underlying Faker instance and the generated values are deterministic. I copied your test above into the AutoBogus test suite (with the inclusion of some assertions) and it is passing.

[code]

I have just released v2.12.0 which incl

[2020-11-03 09:32] flakey-bit commented on #46
Hi @nickdodd79,

Thanks for getting back to me. I've tested it using `Bogus.Faker` _directly_ and it works just fine. See this test case (c.f. the one on the issue description):

[code]

This test passes (unlike the one in the desription for the issue). This is using the same version of Bogus.Faker that is pulled down (31.0.3) by AutoBogus 2.12.0

Literally all I've done is changed the `new AutoFa

[2020-11-03 21:40] nickdodd79 commented on #46
Hi @flakey-bit

Thanks for the update. I can see that switching `AutoFaker` for `Faker` does make the tests pass, which is certainly interesting. It is also good to see that you have managed to replicate the issue with `Faker` instances.

In terms of setting up the anchor time, one consideration is that it is a static, so we can't set that on a 'per generate' basis. I can certainly add a `WithSyst

[2020-11-03 23:05] flakey-bit commented on #46
That's because (without the rule), `Bogus.Faker` will leave the values as `DateTime.MinValue` - which was why I updated the second test case to include the line (for each faker)

[code]

I wonder if it's worth bringing this issue up w/ the maintainer of Bogus.Faker and seeing if they'd consider adding something to help deal with it better. Feels like it should be settable on the faker instance its

[2020-11-04 00:03] nickdodd79 commented on #46
Thanks @flakey-bit.

@bchavez do you have any input into this. Could we add SystemClock configuration at a FakerHub level so we can isolate and control baseline date generation?

[2020-11-04 10:47] zejji commented on #51
@logiclrd - Thanks for this explanation - I will do some experimentation!

@nickdodd79 - I'm still seeing the issue with 2.12.0. I've attached a self-contained LINQPad 6 example project to demonstrate this - note that the autoBogusBook's Author name changes on each run (although the Book title remains consistent).

Please note it uses .NET 5 Release Candidate 2 which needs to be enabled in LINQPad

[2020-11-07 17:21] bchavez commented on #46
Hey @nickdodd79,

Sorry for the late reply! Been super busy with the day job stuff.

I'm not totally sure yet; I think it might take some re-work. I think it comes down to:
* Is it worth it? How much value does it provide us?
* Can we be backward compatible?
* Are any changes possibly a major breaking change for downstream consumers?

---

Currently, we can anchor the date/time generations in two

[2020-11-07 22:17] flakey-bit commented on #46
💯

[2020-12-09 11:16] Mike-E-angelo commented on #12
Adding a +1 for this issue.  Using EFCore5, and without introducing a `DbContext` and simply having AutoFaker crawl a POCO in my domain with `WithRecursiveDepth(1)` set takes about 5 seconds.  Kind of a bummer too because this looks like an awesome project. 😭

FWIW, looks like the grief is occurring in `PopulateInstance`:

![](https://i.imgur.com/0oadDTP.png)

[2020-12-09 18:45] Mike-E-angelo commented on #12
Alright after poking around at this I believe I have found the culprit, and the reason why this is impacting EF applications.  Looks like the use of `System.ComponentModel.DataAnnotations` puts something into overdrive when processing the graph.

I was able to reproduce this with the following classes:

[code]

The the following test:

[code]

So it would seem the combination of metadata/attribute

[2020-12-09 20:01] Mike-E-angelo commented on #12
OK... apologies for the previous post.  It turns out I had a leftover navigation property that was pointing back to my domain model and that was causing the issue.

It turns out that this issue is simply due to traversing navigation properties.  I have been able to reproduce this... and this time posted it as working code. 😉

https://github.com/Mike-E-angelo/AutoBogus.Performance

Basically, the f

[2020-12-29 18:14] DaRochaRomain commented on #12
This issue is rather complexe and not really solvable. In my opinion, Autobogus should scan data, picture a navigation property tree, and check for circular dependencies. If it founds some, it should throws a runtime exception asking for the dev to specify a specific action about those properties.

[2021-01-18 19:22] Eric-Bonneau opened #59 "[Question] Autogenerating a struct containing argument guards"
Hi there,

I've ran into a bit of an issue where I'm using AutoBogus to generate a `struct` which has argument guards for its constructor.

* Normally I would inherit from `AutoFaker<T>` as documented [here](https://github.com/nickdodd79/AutoBogus#autofakert), but it seems like there is a `class` constraint on `T`.
* I tried using a custom `AutoGeneratorOverride` as documented [here](https://githu

[2021-01-29 07:18] wakuflair opened #60 "Generate random combination of "Flags" enum"
First thanks for this very handful library.

I noticed AutoBogus not generating combination of enum types with the "Flags" attribute, only individual enum value.
Is there something magic I don't know?

[2021-02-10 17:37] er1k-peterson opened #61 "AutoBogus.Conventions - Does StateAbbr work?"
Hi. I've been using AutoBogus on a new project and I love it. I have one issue though I was hoping was maybe something I did wrong on my end or maybe this is an actual issue. I'm using .NET Core 3.1, AutoBogus 2.12.0 and AutoBogus.Conventions 2.12.0

This simple test (using NUnit and FluentAssertions fails:

[code]

The error from the test is: 'Expected result.State with length 2, but found string

[2021-02-10 17:47] er1k-peterson commented on #61
Hacking around, I found that explicitly setting

`conventionConfig.State.Enabled = false;`

got the test to pass. Maybe something related to trying to use a convention for a field name that normally has a different associated convention?

[2021-02-10 18:00] er1k-peterson commented on #61
It seems like this happened because State was first in an IEnumerable of generator configs... It found State first before StateAbbr and used State as the generator instead of StateAbbr... Maybe just some simple documentation callout would be helpful... saying to always explicitly disable conventions when trying to do some override like this?

[2021-02-19 13:25] Ian1971 opened #63 "[Idea] Simple generation of data with some fixed values"
Some time ago I created a library we use internally which also sits on top of Bogus. It is broadly very similar to AutoBogus, but AutoBogus is better and more comprehensive. In fact we have migrated the internals of the library to AutoBogus recently.
One thing though that we have is the ability to generate data via a delimited string, where fields that are in the string use the values from the str

[2021-02-24 11:39] Ian1971 commented on #12
I've ran in to this same issue. I'm a bit confused about how ```WithRecursiveDepth``` actually works. I would have assumed it controlled how far in to the tree it went. So a recursive depth of 0 would generate only the primitives at the top level. Recursive depth of 1 would go in to 1 level of complex child types and for each of those treat them as depth 0 (i.e. not go in any further). That doesn'

[2021-02-24 12:01] Ian1971 commented on #12
The way it seems to work is it will stop if the number of parents of the current type being generated that match the current type is >= depth.
I guess that is handling recursion of self-related types, whereas I guess what wanted was tree depth. Tree depth would be more useful I think.

[2021-02-24 15:01] Ian1971 commented on #12
I've added a TreeDepth option in this PR. https://github.com/nickdodd79/AutoBogus/pull/64
This greatly helps improve performance for our use case (Xero api)

[2021-02-24 17:23] Ian1971 commented on #12
There's a package here if it helps https://github.com/Ian1971/AutoBogus/packages/637294

[2021-02-26 17:51] Ian1971 commented on #63
I've created a PR showing how it works
https://github.com/nickdodd79/AutoBogus/pull/64

[2021-03-12 01:29] nickdodd79 commented on #63
Hey @Ian1971

Thanks for your contribution. I have just pushed 2.13.0 which includes you template PR 👍

Nick.

[2021-03-12 01:29] #63 closed

[2021-03-12 01:31] nickdodd79 commented on #12
Hey All,

Thanks for effort of @Ian1971 I think we have a performance improvement in v2.13.0. It does involve using a `WithTreeDepth()` config handler.

I did some top level testing and a simple model that took 4s to generate now takes 18ms 👍

Nick.

[2021-03-12 01:32] #45 closed

[2021-03-12 01:33] nickdodd79 commented on #47
Hey @frankhaugen

A performance improvement has just been added to v2.13.0. Can you give it a run with your use case and see if it improves anything. You will need to use the `WithTreeDepth` config handler.

Nick.

[2021-03-12 01:34] #49 closed

[2021-03-12 01:34] #50 closed

[2021-03-12 01:46] nickdodd79 commented on #59
Hey @Eric-Bonneau

The best approach at the moment would be the override. When you create your Override code, there is a virtual method `Preinitialize` which you can use to control whether a value is generated before calling the override.

This details got missed off in the Readme, but should be there now.

Hope that helps.

Nick.

[2021-03-12 01:48] nickdodd79 commented on #60
Hey @wakuflair

The usage of enum flags is not current implemented - AutoBogus simply asks Bogus for a enum value and assigns it.

I don't think it would be too hard to get something in place for it. I'll see what I can do.

Nick.

[2021-03-12 02:02] nickdodd79 commented on #61
Hey @er1k-peterson

I have taken a look at your issue, and you are correct that State is being checked before StateAbbr. There are a load of auto generated convention handlers built from the Bogus library. When a matching being made, it follows a greedy approach in that the first match is used. Because your property name and type (State and string) match the requirements for State it is diving str

[2021-03-12 08:26] frankhaugen commented on #47
@nickdodd79

With a treedepth of four it took 8 seconds, 5 timed out at 30 seconds:
![image](https://user-images.githubusercontent.com/13543585/110913018-e507a480-8314-11eb-9cfc-08a4630cf83a.png)

I'm happy 👍

[2021-03-12 08:26] #47 closed

[2021-03-12 14:25] er1k-peterson commented on #61
Thank you.

[2021-03-12 14:25] #61 closed

[2021-03-13 15:58] Eric-Bonneau commented on #59
Hi @nickdodd79,

Thanks for the info. Will try this out!

[2021-03-13 15:58] #59 closed

[2021-03-15 09:39] Ian1971 commented on #63
@nickdodd79
Just noticed the docs you added are missing the new lines, so it would fail.
![image](https://user-images.githubusercontent.com/318793/111133253-38c2f980-8572-11eb-992f-a1bf9daa551e.png)

[2021-03-15 20:30] nickdodd79 commented on #63
Hey @Ian1971

Because the string starts with `@` it honors the new lines. I also have a test in the playground to check this above worked.

https://github.com/nickdodd79/AutoBogus/blob/8c182f937b65719e7b59bc479546caf3a97fc135/src/AutoBogus.Playground/TemplateFixture.cs#L1-L42

Nick.

[2021-03-16 09:19] Ian1971 commented on #63
Brilliant. I never knew that. That makes our usages tidier.

On Mon, Mar 15, 2021 at 8:31 PM Nick Dodd ***@***.***> wrote:

[2021-05-05 13:58] mmillsAtREPAY commented on #12
@nickdodd79 Wanted to add my $0.02 here, but possibly from a different angle. I've got a test that's generating a set of headers (between 3 and 5 total) and for each header a set of cards (between 3 and 7 per header). This is old-growth code, and the majority of the navigation properties on the header object are unimportant to the test context. Because of the random nature of the generation code,

[2021-05-05 14:42] mmillsAtREPAY commented on #12
Following up:

I was able to get the runtime down from an average of above 2s per transaction to around 300ms per transaction by explicitly setting rules for each of the navigation properties I'm not using (returning `default(TType)` or `new List<TType>()` as appropriate). And I realized after I wrote out the `RuleFor()` calls that I can use `WithSkip()` in the faker config instead. Sample timings

[2021-05-07 04:08] mnifakram opened #66 "Custom timezone for DateTime"
Hello,

Is there any way that you can customize Generation of all `DateTime` properties across all models?
In my case I want to set the time zone to UniversalTime, I can also see the benefit of this if someone is using Noda.

Thanks

[2021-05-12 22:19] Porkechebure opened #67 "Better docs"
I don't understand clearly what this library does, not it's well documented.

I tried this code

[code]

And what I can see is that Autofaker populates fields automatically without a configuration, while bogus makes them null.

Am I missing something or this library solely exists to automate the config so I can populate with random data?

[2021-05-12 22:37] nickdodd79 commented on #66
Hey @mnifakram

Thanks for your question.

The only options available for controlling how DateTime values are generated are:

1. Check out the Bogus configuration options. I believe there are some static properties you set, but these may not cover what you need.
2. Implement your own override for the DateTime type and provide the logic you need. You can find details on overrides int he read me (ht

[2021-05-12 22:42] nickdodd79 commented on #67
Hey @Porkechebure

Thanks for your question.

So yes, Bogus is a value generation platform, but relies on the developer defining rules for the properties of a type.

AutoBogus attempts to remove the property setup boilerplate by auto generating values via reflection.

Basically, when you ask AutoBogus to Generate a type, it will reflect over the properties and nested types, and use Bogus to genera

[2021-05-12 22:51] Porkechebure commented on #67
Ok, thank you for your help.

The docs should report as description of your library the answer you just gave me. Would be much more clearer.

[2021-05-12 22:51] #67 closed

[2021-05-12 23:31] mnifakram commented on #66
Thank you so much @nickdodd79, the easiest way that I found for the moment is to configure Date class in Bogus

`Date.SystemClock = () => DateTime.SpecifyKind(DateTime.UtcNow, DateTimeKind.Unspecified);`

[2021-05-12 23:31] #66 closed

[2021-06-09 15:55] pauldbentley opened #69 "AutoGenerateContext.ParentType"
I have an entity I would like to fake, which has a constructor parameter "code" - I need this to be 3 characters in length, the constructor provides validation for this, so any string not  3 charaters will throw an exception.

I was trying to use an `AutoGeneratorOverride` and checking if the `GenerateName` is `"code"` - but I only want to do this if the ParentType is the type I'm interested in.

[2021-06-22 23:13] SimonCropp opened #70 "can i become a maintainer for this project?"

[2021-06-24 09:47] SimonCropp commented on #70
i think i will fork instead

[2021-06-24 09:47] #70 closed

[2021-07-06 00:24] kimsagro1 opened #71 "Question: Are the rules supposed to apply to constructor parameters?"
Given the following, I get an exception

[code]

I assumed that the rule would apply to the constructor arguments, am I misunderstanding?

[2021-07-06 16:18] kevinlo opened #72 "AutoFaker for HttpMethod has System.FormatException : The format of the HTTP method is invalid."
I have a class that has HttpMethod as the constructor parameter

When I use the AutoFaker to generate it as follows, it has the System.FormatException randomly

[code]

The problem is the HttpMethod constructor has the method string parameter and the StringGenerator can generate a string with space inside that cause FormatException when it compares the token

[code]

e.g. as shown in this screen s

[2021-07-06 21:42] nickdodd79 commented on #69
Hey @pauldbentley

Apologies for the delayed response. Using an override is certainly a way of achieving what you need. Making the `ParentType` public is definitely something we can do and I see benefits it would add.

I will make the change and publish a new version.

Nick.

[2021-07-06 21:47] nickdodd79 commented on #71
Hey @kimsagro1

The rule you are defining only applies to the `Date` property and in this case, because it is a private set, I believe no value will be assigned. Instead you would need to use the `CustomInstantiator` method.

[code]

Hope that helps.
Nick.

[2021-07-06 21:55] nickdodd79 commented on #72
Hey @kevinlo

With overrides, there is a virtual `Preinitialize` property you can override to specify whether an initial value should be created. Did you set that false in your override implementation? If not, give that a try and we can work from there to see whether any other workarounds exist, or whether a change is needed in AutoBogus.

Nick.

[2021-07-06 22:22] kevinlo commented on #72
@nickdodd79  Thanks for you suggestion.  It works.

For those who has the similar problem, here is what I do.  Please comment if anything is wrong.

[code]

Call this in the test constructor

`            AutoFaker.Configure(builder => builder.WithOverride(new HttpMethodOverride());
`

Then the AutoFaker.Generate will generate the HttpMethod.POST by default:

`            var requests = AutoFaker.

[2021-07-06 22:22] #72 closed

[2021-07-07 21:41] #71 closed

[2021-09-24 05:28] akesava-craft opened #73 "Conversion failed of numeric types other than the integer"
Please take look at the below stack trace.

Stack Trace:
    RuntimeType.TryChangeType(Object value, Binder binder, CultureInfo culture, Boolean needsSpecialCast)
    RuntimeType.CheckValue(Object value, Binder binder, CultureInfo culture, BindingFlags invokeAttr)
    MethodBase.CheckArguments(Object[] parameters, Binder binder, BindingFlags invokeAttr, CultureInfo culture, Signature sig)
    Runt

[2021-11-02 14:18] holotrek opened #74 "WithOverride doesn't work for instanced fakers"
It appears that WithOverride works only specifically if you use a static configuration and the static AutoFaker.Generate call. This is the case with both the override class and the dynamic Func.

Here is a simple complete example that identifies the issue (xUnit and FluentAssertions used):

[code]

[Edit] I'm not sure if this is expected behavior, but it would also be ideal to be able to staticall

[2021-11-04 04:02] gkruszewski opened #75 "Non-Generic Generate support"
Can we add static non-generic counterparts for the `Generate` methods that accept a `Type` to the `AutoFaker` class?

[2021-11-11 04:06] pdevito3 opened #76 "Generating a class with a .NET 6 `DateOnly` property fails"
I have an entity that looks like this in a .NET 6 project:

[code]

When I run this faker:
[code]

in a test like this:
[code]

I get this error.
[code]

I know .NET 6 is new, but I have tons of use cases I'd like to refactor a `DateOnly` prop and this is a definite blocker with how my tests are currently set up :-(

[2021-11-11 04:09] pdevito3 commented on #76
Right after I submitted, I realized I should have checked Bogus... seems like they are tracking this [here](https://github.com/bchavez/Bogus/issues/397), but once it is implemented It will still need to be added to here in a new package reference?

[2021-11-16 17:33] nailThrasher opened #77 "Configure AutoBogus to generate only positive integers"
Hello! Is there a way to do that (maybe through range set)? If yes, please tell me how, because negative ints are not suitable for my need, and i have a lot of int properties and writing RuleFor each of them will be quite tedious.

[2021-11-24 15:12] pdevito3 commented on #76
@nickdodd79 FYI, Bogus just pushed v34.x which should accommodate this

[2021-11-24 19:33] nickdodd79 commented on #69
Hey @pauldbentley

I just realized I neglected to tell you a new version was released with the `ParentType` made public.

Nick.

[2021-11-24 19:33] #69 closed

[2021-11-24 19:35] nickdodd79 commented on #73
Hey @anaparthi-k

Apologies for the delayed response. The template capabilities were added via a PR from another developer, so I am not familiar with the implementation. I will take a look and see what I can do to fix it.

Nick.

[2021-11-24 19:39] nickdodd79 commented on #74
Hey @holotrek

The intent of the configuration is that is used hierarchically and is passed between the different ways of generating. Your statically defined configuration should be passed down to the faker instances, so you have discovered a bug.

Leave it with me and I will investigate.

Nick.

[2021-11-24 19:40] nickdodd79 commented on #75
Hey @gkruszewski

Shouldn't be difficult to add non-generic support. I will see what I can do.

Nick.

[2021-11-24 19:41] nickdodd79 commented on #76
Hey @pdevito3

Thanks for the update. I will get some updates in place so the latest Bogus and .NET capabilities are available.

Watch this space.

Nick.

[2021-11-24 19:42] pdevito3 commented on #76
Sounds good. No rush, just wanted to flag it in case you hadn't seen. Happy Turkey week!

[2021-11-24 19:43] nickdodd79 commented on #77
Hey @nailThrasher

Have you tried the override capabilities of AutoBogus? You can define an override for a `int` and ensure only positive values are generated. You can read about overrides here:

[tdYjUSyQ4gCZJk](https://github.com/nickdodd79/AutoBogus#overrides)

Hope that helps.

Nick.

[2021-12-02 19:40] 304NotModified opened #78 "[Bug] recursive constructor parameter gives `StackOverflowException`"
**given:**

[code]

- **expected**: green test
- **current**: `StackOverflowException`!

Version:
- AutoBugs 2.13.1
- Bogus: 33.1.1

Unfortunately I don't get a stacktrace :'(  (Also not when debugging)

[2021-12-02 20:16] 304NotModified commented on #77
Another option is `RuleForType`?

e.g.

[code]

Or use it with a own class:

[code]

[2021-12-02 20:37] 304NotModified opened #79 "[Feature] support DataAnnotations attributes"
Like `[Range]` and `[StringLength]`

See also supported items on AutoFixture:

https://github.com/AutoFixture/AutoFixture/tree/master/Src/AutoFixture/DataAnnotations

[2021-12-03 22:48] 304NotModified commented on #79
oops, duplicate of #43

[2021-12-03 22:48] #79 closed, assigned to nobody

[2021-12-03 22:48] 304NotModified commented on #43
See also supported items on AutoFixture:

https://github.com/AutoFixture/AutoFixture/tree/master/Src/AutoFixture/DataAnnotations

This is important for creating valid objects (and extra important when writing to a database)

[2021-12-03 23:08] 304NotModified commented on #12
I think we also could improve some performance (not sure if this is already possible)

- Mark an property as parent
- When generating the data, assign the parent with the parent value and don't re-generate it.

Of course, this won't fix all the cases. But it's maybe a better solution (faster and better) than assigning a tree depth

[2022-01-19 20:30] nickdodd79 commented on #78
Hey @304NotModified

Thanks for your message and apologies for the delayed response. Working on several projects that are taking up 100% of my time at the moment.

I think you raise an interesting use case. We have checks in AutoBogus that will compares the current type to its parent and stop the recursion going past a certain depth. However, I don't think that check is performed on the generic ty

[2022-02-01 03:19] pdevito3 commented on #76
hey @nickdodd79, what would the lift be for this? I can look into a PR myself if you're open to it and can give me a ballpark of what i should be looking at

[2022-03-07 21:18] RaulSebastian opened #81 "[Question] AutoBogus AutoFaker custom generator"
Given the [enumeration class](https://docs.microsoft.com/en-us/dotnet/architecture/microservices/microservice-ddd-cqrs-patterns/enumeration-classes-over-enum-types) with a private constructor, how can I configure **AutoBogus.AutoFaker**  to use my custom strategy when generating such a _class_ ?

In Example:

[code]

I'd like to configure **AutoBogus.AutoFaker** in such way, that whenever it tries

[2022-03-07 21:38] RaulSebastian commented on #81
sorry for the issue, I just figured it out.

The `global` configuration does the work:
[code]

 Issue can be closed.

[2022-03-07 21:38] RaulSebastian commented on #81
sorry for the issue, I just figured it out.

The `global` configuration does the work:
[code]

 Issue can be closed.

[2022-03-07 21:38] #81 closed, assigned to nobody

[2022-03-10 10:08] ledux opened #82 "[Bug] Faking List<MemoryStream> throws ArgumentOutOfRangeException"
Given the following code

[code]

- **Expected:** Green Test
- **Actual:** ArgumentOutOfRangeException

[code]

**AutoBogus.FakeItEasy:** 2.13.1
**AutoBogus:** 2.13.1
**Bogus:** 31.0.3

[2022-03-10 12:22] ledux commented on #82
Looks like it fails when it instantiates the `SemaphoreSlim _asyncActiveSemaphore` of the MemoryStream.  It only accepts a positive int as parameter. Not sure, if this can easily fixed.
I "solved" it by `.WithSkip<MemoryStream>().WithSkip<List<MemoryStream>>()`

[2022-03-17 20:09] pwhe23 commented on #75
This is the basic approach I've been playing around with:

[code]

is equivalent to:
[code]

[2022-04-28 21:26] pdevito3 opened #83 "Ability to generate dates in UTC"
## What Issue Does This Solve?
As of .NET 6, [NpgSQL is more strict with date time types](https://www.npgsql.org/efcore/release-notes/6.0.html#major-changes-to-timestamp-mapping) and defaults to UTC. I think this is a good thing, but it does cause problems when generating fake dates in some cases.

In my case, when I'm writing integration tests that touch a Postgres DB, the generated DateTime for

[2022-05-10 14:04] lsimone commented on #76
thanks @pdevito3: we are currently using this lib (thanks @nickdodd79 !) and this would definitely solve our issue.

[2022-06-24 05:19] paoloambrosio opened #86 "Slow generation on .NET 6"
When switching from .NET 5 to .NET 6, the `Generate` method takes over an order of magnitude longer, even for very simple records (e.g. `Foo(int Bar)`).

|      Job |  Runtime |          Mean |        Error |       StdDev | Ratio | RatioSD |
|--------- |--------- |--------------:|-------------:|-------------:|------:|--------:|
| .NET 5.0 | .NET 5.0 |   7,574.85 ns |    45.050 ns |    42.139 ns |

[2022-07-02 04:17] pdevito3 commented on #76
@lsimone i ended up publishing a forked version of [Autobogus](https://www.nuget.org/packages/AutoBogusLifesupport/2.14.0) given @nickdodd79's inactivity. It should fix this if you want to give it a whirl to resolve your issue. If you have any problems let me know: https://github.com/pdevito3/AutoBogus

Not sure how active I'll be maintaining it and really hoping nick takes things back over, but i

[2022-07-02 04:21] pdevito3 commented on #86
@paoloambrosio this is interesting. Haven't noticed this myself, but also haven't looked at it to be in a place where I'd notice per say either. Was there a particular fix you added to make it work better?

Also fwiw, I ended up publishing a forked version of [Autobogus](https://www.nuget.org/packages/AutoBogusLifesupport/2.14.0) given @nickdodd79's inactivity. It was focused on updating to .NET 6

[2022-07-03 07:50] paoloambrosio commented on #86
Unfortunately, I didn't find a way to fix it 😞 I simply noticed that tests weren't failing anymore when sharing a single generated instance, so I'm just generating it once per test class, instead of once per test as I had to do before.

I can't see the public source code on GitHub (dead links in the NuGet page). If you want to try it yourself, the gist above contains two files: the C# project and

[2022-07-03 13:20] pdevito3 commented on #86
Yeah, realized i typoed the repo pointer. Will be updated next time I do a release. Here's the updates: https://github.com/pdevito3/AutoBogus

[2022-07-04 17:35] paoloambrosio commented on #86
Tried the benchmark and I get similar results with both AutoBogus 2.13.1 and AutoBogusLifeSupport 2.14.0. To be honest I didn't see anything in the code to suggest that it would behave differently in this case, but it was worth a try :)

[2022-07-04 17:47] pdevito3 commented on #86
Yeah, didn't have any updates targeting something like this so it was definitely a long shot, but good to know!

[2022-07-22 22:45] gregwinterstein opened #88 "AutoGeneratorOverride populates overridden properties one level early"
Properties overridden in AutoGeneratorOverride classes are populated one level (depth) earlier than properties that are not overridden in an AutoGeneratorOverride. I would expect that all properties would be populated at the same level (depth).

Example:
[code]

Attached is an example program showing this behavior:
[TestAutoBogus.zip](https://github.com/nickdodd79/AutoBogus/files/9172565/TestAutoB

[2022-07-28 21:08] TomasMorton commented on #76
+1 for this fix, it's quite unfortunate. Thank you @pdevito3 for publishing the modified package.
Just wondering, would using manual assembly binding redirects for Bogus also be an option?

[2022-08-03 20:09] cdarrigo commented on #51
I'm having a similar issue. I'm use AutoFaker in my XUnit tests.
In the class constructor I'm setting the Randomizer Seed value
[code]
and my test
[code]

I'm using AutoFaker in conjunction with Verify. This test is a base class and it has multiple subclasses (one for each domain type I want to test).

When these tests run in parallel they will fail the first time.  This is expected verify behavio

[2022-08-04 14:18] cdarrigo commented on #51
Update:  I am able to reproduce this issue now using xUnit tests.
Set the static seed value to a constant.
`   Randomizer.Seed = new Random(420);`

Create two tests that spin up a fake using the same seed.

When the tests run sequentially, the faker returns deterministic data.
When the tests run in parallel, the faker returns non-deterministic data.

[2022-08-04 19:09] logiclrd commented on #51
Am I misunderstanding -- by running the tests in parallel, aren't they pulling numbers concurrently from the same underlying source??

[2022-08-16 13:43] nour-sb commented on #12
Hi @nickdodd79
It seems that the recursive depth safe mechanism doesn't work on records.
Generating an instance of this record as follows
[code]

will throw StackOverflow exception.
Is it because the children are being passed in the constructure's parameters?
Is there a workaround for this?

EDIT:
I created a separate issue for this. [link](https://github.com/nickdodd79/AutoBogus/issues/89)

[2022-08-16 13:51] Ian1971 commented on #12
Are you using the WithTreeDepth or WithRecursiveDepth  config option?

[2022-08-16 14:00] nour-sb commented on #12
@Ian1971
I tried both, didn't work.

What actually worked is moving the property from the constructure to the record body, as follows:

[code]

[2022-08-16 14:24] nour-s opened #89 "Record with nested children of the same type as the parent causes StackOverflow"
It seems that the recursive depth safe mechanism doesn't work on records.
Generating an instance of this record as follows

[code]

will cause a StackOverflow exception.

The only way around this is to move the `Children` property to the Record body as follows:

[code]

While that works, it defies the purpose of using a Record instead of a Class.

[2022-08-16 14:43] Ian1971 commented on #12
I've not actually use records yet so I guess these need checking out

[2022-08-16 15:07] 304NotModified commented on #12
@Ian1971 the link links to another page then the title would say... ;)

[2022-09-13 22:37] SpaceMonkeyy86 opened #91 "Recursive depth limit not implemented when generating constructor parameters"
No checks are in place for skipping the generation of reference types for a constructor. This will lead to a StackOverflowException if a reference type's constructor has itself as one of the parameters, even if that parameter is optional:
[code]

[2022-09-26 05:15] c-conklin opened #92 "[Enhancement] WithConventions aliases allow expression"
AutoBogus.Conventions allow aliases to be configured, expanding the property name targets associated with a given convention mapping. The following adds `AnotherEmail` and `AlternateEmail` property names as candidates for the Email generator:

[code]

### Feature Request
Allow Aliases with expression parameter.
Example:
[code]

### Work Around
[code]

I'm unsure how much overhead or complexity is

[2022-10-05 20:20] altmank opened #93 "'No parameterless constructor defined for type' error when using ruleset but same exception not thrown when using no ruleset"
This might just be me not using it properly but having some issues using ruleset functionality. I get a MissingMethodException (No parameterless constructor defined for this object) in the below example when I expect it to function just the same as the generate call without the ruleset name but to use an age of 65 rather than the default of 18. It is intentional that Age is only accessible via a p

[2022-11-03 11:45] ArnaudB88 opened #94 "Feature: skipping members should also work for inherited interfaces"
I want to request a feature which allows you to declare members to skip of an interface. When a class inherits from that interface, the specified members to skip will also affect the class.

Code:
[code]

I will submit a PR for this

[2022-11-03 13:51] ArnaudB88 opened #96 "Feature: add option to only populate simple types"
I want to request this feature because in our projects we don't want complex type members to be populated. This is the default from the nBuilder github repo from which we are migrating.
For faking entity framework entities, we want to manually construct the navigation properties, which are complex types.

This option would allow to specify if only simple type members should be populated like:

[co

[2022-11-20 06:44] vbreuss opened #98 "Is it possible to generate weakly-typed objects?"
I would like to use AutoBogus to automatically generate an object, but I only have the `Type` information and cannot apply the generic constraint.

Would it be possible to provide an overload like
[code]
which will generate an object of type `type`?

**Background:**
I tried to implement something like the [AutoDataAttribute](https://github.com/AutoFixture/AutoFixture/blob/master/Src/AutoFixture.xU